# The task modifies hiera data to have right set cinder-types
- id: netapp_hiera_override
  type: puppet
  version: 2.0.0
  groups: [primary-controller, controller, cinder]
  requires: [hiera]
  required_for: [create-cinder-types]
  parameters:
    puppet_manifest: puppet/manifests/hiera_override.pp
    puppet_modules:  puppet/modules:/etc/puppet/modules
    timeout: 360

# The task is executed on controller nodes only in particular cases
# See site.pp for more details
- id: netapp_cinder
  type: puppet
  version: 2.0.0
  role: [primary-controller, controller, cinder]
  requires: [post_deployment_start]
  required_for: [post_deployment_end]
  parameters:
    puppet_manifest: puppet/manifests/site.pp
    puppet_modules:  puppet/modules:/etc/puppet/modules
    timeout: 360

- id: netapp_compute
  type: puppet
  version: 2.0.0
  groups: [compute]
  requires: [top-role-compute]
  required_for: [deploy_end]
  parameters:
    puppet_manifest: puppet/manifests/compute.pp
    puppet_modules:  puppet/modules:/etc/puppet/modules
    timeout: 360

- id: deleting_old_cinder_volume_services
  type: shell
  version: 2.0.0
  role: [primary-controller]
  requires: [post_deployment_start]
  required_for: [post_deployment_end]
  parameters:
    cmd: . /root/openrc && for host in $(cinder service-list | grep 'cinder-volume.*enabled.*down' | awk '{ print $4}'); do cinder-manage service remove cinder-volume $host; done
    retries: 3
    interval: 20
    timeout: 180
