- id: netapp_hiera_override
  type: puppet
  version: 2.0.0
  groups: [primary-controller, controller]
  requires: [openstack-cinder, deploy_start]
  required_for: [create-cinder-types, deploy_end]
  parameters:
    puppet_manifest: puppet/manifests/hiera_override.pp
    puppet_modules:  /etc/puppet/modules
    timeout: 360

- id: netapp_cinder
  type: puppet
  version: 2.0.0
  groups: [cinder, ceph-osd]
  requires: [top-role-cinder, top-role-ceph-osd, deploy_start]
  required_for: [deploy_end]
  parameters:
    puppet_manifest: puppet/manifests/site.pp
    puppet_modules:  puppet/modules:/etc/puppet/modules
    timeout: 360

- id: netapp_compute
  type: puppet
  version: 2.0.0
  groups: [compute]
  requires: [top-role-compute, deploy_start]
  required_for: [deploy_end]
  parameters:
    puppet_manifest: puppet/manifests/compute.pp
    puppet_modules:  /etc/puppet/modules
    timeout: 360

- id: deleting_old_cinder_volume_services
  type: shell
  version: 2.0.0
  role: [primary-controller]
  requires: [post_deployment_start]
  required_for: [post_deployment_end]
  parameters:
    cmd: . /root/openrc && for host in $(cinder service-list | grep 'cinder-volume.*enabled.*down' | awk '{ print $4}'); do cinder-manage service remove cinder-volume $host; done
    retries: 3
    interval: 20
    timeout: 180

- id: cinder_ug_create
  type: puppet
  version: 2.0.0
  groups: [cinder]
  requires: [deploy_start]
  required_for: [top-role-cinder]
  parameters:
    puppet_manifest: puppet/manifests/cinder_ug_create.pp
    puppet_modules:  puppet/modules/:/etc/puppet/modules/
    timeout: 360
